{% extends "layout.html" %}

{% block content %}
<h2>Study Sessions</h2>

<form method="post">
  {% csrf_token %}

  <select name="subject" class="form-control mb-2">
    {% for subject in subjects %}
      <option value="{{ subject.id }}">{{ subject.name }}</option>
    {% endfor %}
  </select>

  <input type="number" name="duration" class="form-control mb-2" placeholder="Minutes">
  <input type="date" name="date" class="form-control mb-2">

  <button class="btn btn-success">Add Session</button>
</form>

<ul class="mt-3">
  {% for session in sessions %}
    <li>
     {{ session.subject.name }} - {{ session.date }}
      <a href="{% url 'timer' session.id %}" class="btn btn-sm btn-outline-primary">
       Start Timer
      </a>
    </li>
  {% endfor %}
</ul>
{% endblock %}
